@charset "UTF-8";

/*  
    TIPICAL DEVICE BREACK POINTS
    ............................
    Pqs Telas: < até 600px
    Mobile: 601px até 768px
    Tablet: 769px até 992px
    Desktop: 993px até 1200px
    Gds Telas: 1201px até >
*/

@media screen and (min-width: 768px) and (max-width: 992px){
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        background-position: center center;

        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}

@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 900px;
    }

    section#login > div#imagem {
        background-position: center right;
        background-image: url(../imagens/back-start-landscape.jpg);
        background-size: cover;

        float: left;
        width: 60%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 40%;
    }
}

