@charset "UTF-8";

/*
    PALETA DE CORES
        VERDE #49a09d
        LILÃS #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {    
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

section#login > div#imagem {
    background: #5f2c82 url(../imagens/back-start.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    display: block;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: .8em;
}